* {padding:0px; margin:0px;}
html{height:100%;}
body{font-family:tahoma; font-size:12px;margin:10px; height:100%;}
p {line-height:18px;padding:2px; }
div {width:500px;}
#gameArea{
    vertical-align: top;
    top:0px;
    left:25%;
    display:none;
    width:70%;
    height:100%;
    background-color:#DDD;
}
#gameTableUp, #gameTableDown{
    width:100%;
    height:100%;
}
.gameTable{
    width:100%;
    height:50%;
    text-align:center;
    table-layout: fixed;
}
#gameInformArea{
    vertical-align: top;
    display:none;
    width:25%;
    height:100%; 
    background-color: #AAA;
}
#chatRoom{
    position: absolute;
    bottom:0px;
    margin-bottom: 10px;
    width:100%;
}
#content { 
    padding:0px; 
    background:#EEE; 
    //border-radius:5px;
    //border:1px solid #CCC; 
    margin-bottom:5px; 
    width:400px;
    max-height:126px;
    overflow-x: auto;
    overflow-y: auto;
    z-index:10;
    position: absolute;
    bottom:0px;
}
#chatArea{
    position:relative;
    padding:5px; 
    background:#EEE; 
    border-radius:5px;
    border:1px solid #CCC; 
    margin-top:10px; 
    width:400px;
    height:126px;
    z-index: 1;
}
#input{ 
    border-radius:2px; 
    border:1px solid #ccc;
    margin-top:10px; 
    padding:5px; 
    width:320px;  
}
#nameInput { 
    border-radius:2px; 
    border:1px solid #ccc;
    margin-top:10px; 
    padding:5px; 
    width:300px;  
}
#status{ 
    width:80px; 
    display:block; 
    float:left; 
    margin-top:15px; 
}
#connectStatus { 
    width:100px; 
    display:block; 
    float:left; 
    margin-top:15px; 
}
#playButton{
    display: none;
}
#readyButton{
    display:none;
}
#playerList{
    padding:5px; 
    background:#EEE; 
    border-radius:5px;
    border:1px solid #CCC; 
}
#stateDisplay{

}
#charactersForm{
    display:none;
}
#charactersInformation{
    
}
.wait{
    display:initial;
}
.randomCharacters{
    display:none;
}
.allStates{
    display:none;
}
.gameDetails{
    display:none;
}
.sendMission{
    display:none;
}
.vote{
    display:none;
}
.mission{
    display:none;
}
.update{
    display:none;
}
.findMerlin{
    display:none;
}
.setName{
    display:initial;
}
